In [1]:
import pandas as pd
import numpy as np

In [6]:
arr = np.arange(100, 110)
print(arr)

[100 101 102 103 104 105 106 107 108 109]

In [9]:
# S 대문자 >> 클래스를 만들려는 것, 인자로 arr 넣음
s = pd.Series(arr)
print(s)

# 위에서 아래로 데이터 쌓음, 왼쪽에 데이터의 인덱스 적혀 있음 >> 인덱스 접근 가능
    # 스프레드 시트에서 하나의 열만 쓴 것과 다름 없는 형태임

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [10]:
s = pd.Series(arr, dtype='int32') # 데이터 타입 변경하기 >> float(소수)로도 변경 가능
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int32

In [12]:
# 글자 만들기

s = pd.Series(['kim', 'lee', 'park'])
print(s)
# 데이터 형태 object: 문자 혹은 문자/숫자 복합된 형태

0     kim
1     lee
2    park
dtype: object

In [14]:
s = pd.Series([1,2,3, '1', 'hello'])
print(s)
# 더 넓은 형태의 데이터형으로 형변환됨 >> 이때 object는 문자 의미

0        1
1        2
2        3
3        1
4    hello
dtype: object

In [18]:
# 인덱스 접근: 근데 음수 인덱싱은 지원X
s[4]

'hello'

In [20]:
s.index
# s의 데이터가 어떤 형태로 인덱스 생성됐는지 출력해줌

RangeIndex(start=0, stop=5, step=1)

In [28]:
names = pd.Series(['kim', 'lee', 'park'], index = ['a', 'b', 'c'])
# 인덱스 설정 직접 할 수 있음 >> 인덱스가 숫자 아니어도 됨
    # 칼럼에 인덱스 부여 가능 >> 부여한 인덱스로 접근 가능
names['a']

'kim'

In [29]:
names.index # 내가 지정한 인덱스가 뜸

Index(['a', 'b', 'c'], dtype='object')

In [31]:
names.iloc[0] # iloc 활용하면, 에러 없이 abc 말고 숫자로도 인덱스 접근 가능

'kim'

In [35]:
names.values # 데이터 값만 출력
names.shape # 총 데이터 갯수 출력해줌 >> 차원 갯수 알려줌
names.ndim # 몇 차원인지 알려줌

1

In [36]:
# NaN

s = pd.Series([1,2,3, np.nan]) # 결측값 직접 지정해 넣기
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [42]:
# 팬시 색인

f = ['banana', 'apple', 'grape', np.nan] # 마지막 값은 결측값으로 설정
s = pd.Series(f, index = list('abcd')) # abcd를 인덱스로 설정
print(s)

s['a'] # 
s[['d', 'a']] # 특정한 요소 하나를 내가 지정한 순서대로 가져올 때 팬시 인덱싱 사용

s.iloc[[3,1]] # 알파벳으로 칼럼 설정했는데, iloc 사용하면, 숫자로도 인덱싱 접근 가능

a    banana
b     apple
c     grape
d       NaN
dtype: object

d      NaN
b    apple
dtype: object

In [44]:
# bool indexing: 원하는 정보만 출력하기
s[[True, False, True, False]] # 그러면 해당 위치의 true인 값만 나오게 됨

a    banana
c     grape
dtype: object

In [46]:
s == 'banana'
s[s == 'banana'] # 바나나인 것만 s 데이터에서 추출하기

a    banana
dtype: object

In [49]:
s = pd.Series([1,2,3,4,5,6])
s[s > 3] # 데이터 값이 3을 초과하는 것만 추출해 출력하기

3    4
4    5
5    6
dtype: int64

In [58]:
# 결측치 처리
s = pd.Series([1,3,np.nan,10,11,np.nan]) # 결측치 포함된 정보 만들기
print(s)

# nan 제외하려면?
s.isnull() # nan 값 가진 경우 true 도출함 >> 이거 활용해 불리언 인덱싱 가능

s[s.isnull()] # nan 값인 인덱스만 추출하기
s[s.isna()] # 동일 코드

s[s.notnull()] # nan이 아닌 인덱스만 추출하기
s[s.notna()] # 동일 코드

0     1.0
1     3.0
2     NaN
3    10.0
4    11.0
5     NaN
dtype: float64

0     1.0
1     3.0
3    10.0
4    11.0
dtype: float64

In [59]:
# slicing

s[1:3] # 1번째부터 2번째까지 자르기

1    3.0
2    NaN
dtype: float64

In [61]:
# 근데 인덱스가 문자열인 경우 달리 작동:
f = ['banana', 'apple', 'grape', np.nan] # 마지막 값은 결측값으로 설정
s = pd.Series(f, index = list('abcd'))

s['a':'b']
# a부터 b까지로 인식함 >> 초과, 미만X

a    banana
b     apple
dtype: object

# 데이터 프레임

In [64]:
# 데이터 프레임 만들기
d = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])

d

# row(가로), column(세로) 으로 인덱스 넣는 구조가 데이터 프레임

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [66]:
d = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9]
], columns = ['가', '나', '다'] )
d

# row는 별도로 인덱싱 않고, column은 데이터 대한 의미

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [68]:
# dict 활용해 표 그리기

info = {
    'name': ['김', '이', '박'],
    'age': [10,20,30]
}
pd.DataFrame(info)

  name  age
0    김   10
1    이   20
2    박   30

In [72]:
info_df = pd.DataFrame(info)
info_df.index # 가로 행 몇 개 있는지 정보 출력
info_df.columns # 세로 열의 정보 출력
info_df.values # 데이터 값(= values) 정보 출력

info_df.dtypes # name, age 서로 다른 2개의 데이터 타입 정보 출력해줌

info_df.T # 행/열 전환하기

       0   1   2
name   김   이   박
age   10  20  30

In [77]:
#인덱스 다루기: Series와 동일한 원리
info_df.index = list('abc') # row 이름 변경 가능 >> 근데 일반적으로 바꾸진 않음
info_df

# 컬럼 다루기
info_df['name']
    # 데이터 프레임은 2차원의 표 형태임 >> 근데 name 등 특정 컬럼 가져올 경우, 이는 시리즈로서 바라보는 셈임

# 근데 팬시 인덱싱 통해 2개 이상 컬럼 가져올 시, 시리즈가 아닌 내가 지정한 순서대로 만든 새 형태의 데이터 프레임임
    # 컬럼 팬시 인덱싱하는 방법
info_df[['age', 'name']]

   age name
a   10    김
b   20    이
c   30    박

In [83]:
# 컬럼 이름 수정하기: 재할당 해줘야 수정 완료됨
info_df = info_df.rename(columns={'name': '이름'}) # 복제해 변경
info_df

  이름  age
a  김   10
b  이   20
c  박   30

In [87]:
info_df.rename(columns={'이름': 'last_name', inplace=True})
# inplace 주면 강제로 데이터 프레임 이름 변경하게 해줌 >> 원본 변경

SyntaxError: ':' expected after dictionary key (1453774387.py, line 1)